@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi .....";
}

<hgroup class="title" style="float:left; margin:20px;" >
    <h1 class="error">Đã xảy ra lỗi !!!</h1>
    <h2 class="error">Mục bạn vào có thể đã bị xóa. Bạn hãy vào lại chuyên mục khác.</h2>
</hgroup>
