@model IEnumerable<Website.Models.YahooSupports>

<style  type="text/css">
    .s_yahoo {
        width:140px;
        height:40px;
    }
    .s_skyper {
        width:140px;
        height:40px;
    }
    .ul_support {
        padding-left:20px;
    }
</style>
<div class="support_left float">
    <div class="title_slide_product_right" style="height: 30px; border-bottom: 1px solid #47df05; float: left; width: 100%; background-image: url('/images/box_title.png'); background-repeat: no-repeat;">
        <div>
            <h3 class="h3_module_title">Hỗ trợ trực tuyến</h3>
        </div>
    </div>
    <div>
        <ul class="ul_support float">
            @foreach (var item in Model)
            {
                <li>
                    <div class="s_yahoo float">
                        <a href="ymsgr:sendim?@item.Yahoo" mce_href="ymsgr:sendim?@item.Yahoo" border="0">
                        <img style="padding-top:15px;" src="http://opi.yahoo.com/online?u=@item.Yahoo&t=2" mce_src="http://opi.yahoo.com/online?u=@item.Yahoo&t=2">
                    </a>
                    </div>
                    <div class="s_skyper float">
                        <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
                    <a href="skype:sarang_heyo86?call">
                        <img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png" style="border: none;" width="124" height="52" alt="Skype Me™!" />
                    </a>
                    </div>
                    <div style="float:left; width:100%;padding-top:15px; color: red; font-weight: bold;">Hotline :<span style="color: red; font-weight: bold;">@item.Phone</span></div>
                </li>   
                
            }
        </ul>
    </div>
</div>


@*slide truot 2 ben co dinh*@
@*======================================================================================================================================*@
@*<SCRIPT type=text/javascript>

var slideTime = 700;
var floatAtBottom = false;

function pepsi_floating_init()
{
	xMoveTo('floating_banner_right', 887 - (1024-screen.width), 0);

	winOnResize(); // set initial position
	xAddEventListener(window, 'resize', winOnResize, false);
	xAddEventListener(window, 'scroll', winOnScroll, false);
}
function winOnResize() {
	checkScreenWidth();
	winOnScroll(); // initial slide
}
function winOnScroll() {
  var y = xScrollTop();
  if (floatAtBottom) {
    y += xClientHeight() - xHeight('floating_banner_left');
  }
  
  xSlideTo('floating_banner_left', (screen.width - (800-775) - 770)/2-115 , y, slideTime);  // Chỉnh khoảng cách bên trái
  xSlideTo('floating_banner_right', (screen.width - (800-795) + 770)/2+110, y, slideTime); // // Chỉnh khoảng cách bên Phải
}
	
function checkScreenWidth()
{
	if( document.body.clientWidth < 926 )
	{	
		document.getElementById('floating_banner_left').style.display = 'none';
		document.getElementById('floating_banner_right').style.display = 'none';
	}
	else
	{
		document.getElementById('floating_banner_left').style.display = '';
		document.getElementById('floating_banner_right').style.display = '';	
	}
}

</SCRIPT>*@



@*<div id="floating_banner_left" style="text-align:right; position:absolute; overflow:hidden; top: 0px; left: 0px; width: 105px; border: 0px solid #000; display:none;">
<div id="floating_banner_left_content">
    <a href="#" target="_blank"><img src="lien1.jpg" border="0" width="105px" alt="" /></a><br />
</div>
</div>*@



@*<div id="floating_banner_right" style="text-align:left; position:absolute; overflow:hidden;z-index:100; top: 0px; right: 0px; width: 140px; border: 5px solid red; padding:20px; background-color:white; margin-top:200px;">
	<div id="floating_banner_right_content"  >
    <ul class="ul_support">
        @foreach (var item in Model)
        {
            <li>
                <a href="ymsgr:sendim?@item.Yahoo" mce_href="ymsgr:sendim?@item.Yahoo" border="0">
                    <img src="http://opi.yahoo.com/online?u=@item.Yahoo&t=2" mce_src="http://opi.yahoo.com/online?u=@item.Yahoo&t=2"></a>
            </li>   
        }
    </ul>
    <ul class="ul_support">
        @foreach (var item in Model)
        {
            <li>
                
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
    <a href="skype:sarang_heyo86?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png" style="border: none;" width="124" height="52" alt="Skype Me™!" /></a>

            </li>   
        }
    </ul>
    <ul class="ul_tuvan">
        @foreach (var item in Model)
        {
            <li style="color:red;font-weight:bold;">Hotline :<span style="color:red;font-weight:bold;">@item.Phone</span></li>
        }
    </ul>

</div>
</div>*@
@*<script>
	runQuery();
</script>
<script>
	pepsi_floating_init();
</script>*@


