<p style="color: #e6c04b">Chào mừng bạn đến với b̀52 </p>
<p style="color: white;">Ngoài ra, b̀52</p>
<div style="background-color: #7c1f22; margin-top: 10px; padding: 10px; text-align: center; color: white;">11111.</div>
<h1 style="color: #e6c04b; font-size: 24px; text-align: center; padding-top: 15px; float: left; padding-left:60px;">!!!!</h1>
